body{
    background-image: url('14800017.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100);
    margin: 0px;
}

h1{
    color: #fff;
    text-align: center;
}
.row{
    max-width:30rem; 
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.container{
    border-radius:12px;
    background-color: rgba(150, 150, 150, 0.7);
    padding: 32px;

}
button{
    display: block;
}